.footer {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

    ul {
        list-style: none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }
}