$font-stack: 'Roboto', sans-serif;
$background-gradient: linear-gradient(45deg, #ffadef, #d96dff);
$font-color: #2b0036;
$subject-background: #ffadef;
$icon-color: #6d0037;
$transition: 100ms;
$separator-colour: #6d00363e;
