// <weight>: Use a value from 100 to 900

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

#root {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
