// <weight>: Use a value from 100 to 900

@use '../src/components/Header/header';
@use '../src/components/Footer/footer';
@use '../src/components/HomePage/homePage';
@use '../src/components/NewCardGroupButton/NewCardGroupButton';
@use '../src/components/NewSubjectButton/newSubjectButton';
@use '../src/components/EditSubjectTitle/editSubjectTitle';
@use '../src/components/NewCardGroupForm/newCardGroupForm';
@use '../src/components/AddSubjectForm/addSubjectForm';

@use '../src/variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: variables.$font-stack;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
    color: variables.$icon-color;
}

#root {
    min-height: 100vh;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
